@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller::-webkit-scrollbar {
  /* display: none; */
  height: 4px;
  background-color: white;
}

.noscrollbar::-webkit-scrollbar {
  display: none;

}

/* .scroller::-webkit-scrollbar-track{
width: 4px;
display: none;
background-color: white;
} */
.scroller::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 216);
  border-radius: 2px;
}

.active-side-link::before {
  content: '';
  position: absolute;
  background-color: #ea3c12;
  inset: 0px;
  height: 100%;
  width: 7px;
  border-radius: 0px 12px 12px 0px;

}

.numberinput::-webkit-outer-spin-button,
.numberinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.numberinput {
  -moz-appearance: textfield;
}


.rotateY {
  transform: rotateY(45deg);
}

.per {
  perspective: 300px;
}

.trx1 {
  transform: translateX(-20px) rotateY(45deg);
  z-index: -1;
}

.trx2 {
  transform: translateX(20px) rotateY(45deg);
  z-index: 1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.on {
  animation: rotation 3s infinite linear;
}

.onfast {
  animation: rotation 1s infinite linear;
}

@keyframes shake {
  0% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0px);
  }
}

.ontruck {
  animation: shake 200ms infinite;
}

.pfp::before {
  content: '';
  position: absolute;
  top: 80px;
  left: -32px;
  width: 40px;
  height: 24px;
  box-sizing: border-box;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  border-radius: 99px 0px;
  z-index: -1;
}
.pfp::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 152px;
  width: 40px;
  height: 24px;
  box-sizing: border-box;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  border-radius: 0px 99px;
  z-index: -1;
}

.chaticon::before{
  content: '';
  position: absolute;
  top:-2px;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ea3c12;
}

.navimg::before{
  content: '';
  position: absolute;
  bottom:0px;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ea3c12;
  
}